In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\Rajshah\\Downloads\\sample_email.csv", engine='python')
df.head()

,first_name,last_name,company_name,address,city,county,state,zip,phone1,phone,email,subject,Email_Boby
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@luminate.ai,"When EMVX creation comes the message ""The crea...",I have a nearly unreadable font in my Warehous...
1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@luminate.ai,It falters when processing highly segmented p...,On Saturday the version WAREHOUSE Sales firstc...
2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@luminate.ai,Cwvemx files falter in Sales firstclass 20,"In export mode, the font in the small preview ..."
3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@luminate.ai,"When creating EM / EMVX with Windows 7, it ma...","On my specificationsheet, the text blocks are ..."
4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@luminate.ai,Drivers for the USB Process Manager could not...,Since your update come strange bubbles on my s...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 13 columns):
first_name      49 non-null object
last_name       49 non-null object
company_name    49 non-null object
address         49 non-null object
city            49 non-null object
county          49 non-null object
state           49 non-null object
zip             49 non-null int64
phone1          49 non-null object
phone           49 non-null object
email           49 non-null object
subject         49 non-null object
Email_Boby      49 non-null object
dtypes: int64(1), object(12)
memory usage: 5.1+ KB

In [4]:
df.shape

(49, 13)

In [5]:
list(df.columns.values)

['first_name',
 'last_name',
 'company_name',
 'address',
 'city',
 'county',
 'state',
 'zip',
 'phone1',
 'phone',
 'email',
 'subject',
 'Email_Boby']

In [6]:
import re

In [7]:
# !pip install email-to

In [8]:
import csv
import smtplib
from email.mime.text import MIMEText

In [9]:
from email.header import Header

In [10]:
def sendmail(df):
    msg = MIMEText(df[13], "html", "utf-8")
    msg['Subject'] = Header("YOUR SUBJECT", "utf-8")
    msg['From'] = "FROM_WHOM@XXX.com"
    msg['To'] = df[11]
    s = smtplib.SMTP("smtp.XXX.com")
    s.ehlo()
    s.starttls()
    s.login("YOUR EMAIL USERNAME", "YOUR EMAIL PASSWORD")
    s.sendmail("FROM_WHOM", info_list[11], msg.as_string())

def main():
    with open("C:\\Users\\Rajshah\\Downloads\\sample_email.csv", "rb") as csvfile:
        msg_reader = csv.reader(csvfile)
        map(lambda x: sendmail(x), msg_reader)

if __name__ == "__main__":
    main()

In [17]:
df_other_emails = df['Email_Boby'].str.findall('(\S+@\S+)')
export_csv = df_other_emails.to_csv(r'C:\\Users\\Rajshah\\other_emails.csv')
df_other_emails

C:\anaconda3\envs\renv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

0                       []
1                       []
2                       []
3                       []
4                       []
5                       []
6                       []
7                       []
8                       []
9                       []
10                      []
11                      []
12                      []
13                      []
14                      []
15                      []
16                      []
17                      []
18                      []
19      [asergi@yahoo.com]
20                      []
21                      []
22                      []
23    [calbares@gmail.com]
24                      []
25                      []
26                      []
27                      []
28                      []
29                      []
30                      []
31                      []
32                      []
33                      []
34                      []
35                      []
36                      []
37                      []
38                      []
39                      []
40                      []
41                      []
42                      []
43                      []
44                      []
45      [asergi@gmail.com]
46                      []
47                      []
48                      []
Name: Email_Boby, dtype: object

In [16]:
df_phone_number = df['Email_Boby'].str.extract('(\d{3}[-\.\s]\d{3}[-\.\s]\d{4}|\(\d{3}\)\s*\d{3}[-\.\s]\d{4}|\d{3}[-\.\s]\d{4})')
export_csv = df_phone_number.to_csv(r"C:\\Users\\Rajshah\\phone_numbers.csv")
df_phone_number

                 0
0     504-621-8927
1              NaN
2              NaN
3              NaN
4              NaN
5              NaN
6              NaN
7              NaN
8   (541) 754-3010
9              NaN
10             NaN
11             NaN
12             NaN
13             NaN
14             NaN
15             NaN
16             NaN
17             NaN
18             NaN
19             NaN
20             NaN
21             NaN
22             NaN
23             NaN
24             NaN
25             NaN
26             NaN
27             NaN
28             NaN
29    123-456-7890
30             NaN
31             NaN
32             NaN
33             NaN
34             NaN
35             NaN
36             NaN
37             NaN
38             NaN
39             NaN
40             NaN
41  (123) 456-7890
42             NaN
43             NaN
44             NaN
45             NaN
46             NaN
47             NaN
48             NaN